.title-news {
	color: black;
	font-weight: 400;
	font-size: 18px;
}

.title-news:hover {
	color: #50af55 !important;
    text-decoration: underline !important;
    cursor: pointer;
}

.card {
	border-radius: 0.5rem;
}

.title-category {
	color: #50af55;
}

.card-headline:hover {
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
}

.card-headline:hover a{
	color: #50af55;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}

.card-headline:hover span{
	color: #50af55;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}

.card-footer a{
	color: #50af55;
	font-weight: 400;
	font-size: 13px;
}

.footer:hover {
	color: #50af55 !important;
    text-decoration: underline !important;
    cursor: pointer;
}

.left-menu{
	color: black;
	font-size: 13px;
	font-weight: 300;
	margin: 3px 0px;
}

.left-menu a{
	color: black;
	font-size: 13px;
	font-weight: 300;
}

.logo-left-menu {
	vertical-align: bottom;
	margin-right: 20px;
	color: #999;
	font-size: 20px;
}

.left-menu.active {
	position: relative;
	background-color: #28a74529;
	border-radius: 0px 50px 50px 0px;
}
.left-menu.active:before{
	content: "";
    display: block;
    height: 100%;
    width: 15px;
    position: absolute;
    left: -15px;
    background-color: #28a74529;
}

.left-menu.active a{
	font-weight: 700;
	color: #50af55;
}

.left-menu.active i{
	color: #50af55;
}

.left-menu:hover a{
	cursor: pointer;
	color: #50af55 !important;
}

.left-menu:hover i{
	cursor: pointer;
	color: #50af55;
}

.btn-switch-menu:hover {
	color: #50af55;
}

.nav-link:hover {
	color: #50af55 !important;
}

.navbar{
	box-shadow: 0 0 10px 1px rgba(13,13,13,0.73);
	background-color: #fff !important;
}

.navbar-brand{
	font-family: 'Montserrat', sans-serif;
	color: #666;
	font-weight: 300;
	font-size: 18px;
	margin-right: 30px;
}

.header-link:hover{
	font: white;
}

.header-search {
	border-bottom: 1px solid #999;
	border-radius: 0px;
}

.index-search {
	border: none;
	border-radius: 0px;
	width: 500px !important;
	font-size: 15px;
	font-weight: 300;
}

.index-search:focus{
	box-shadow: none;
}

.repo-search {
	border: none;
	border-bottom: 1px solid #999;
	border-radius: 0px;
	font-size: 15px;
	font-weight: 300;
}

.repo-search:focus{
	box-shadow: none;
	border-bottom: 1px solid #50af55;
}

.card {
	border-bottom: 1px solid #50af55;
}

.card-entity:hover {
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
}

.card-entity:hover button{
	cursor: pointer;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}

.entity-populer {
	margin: 5px 1px;
	border-radius: 0;
	font-weight: 300;
	border-radius: 20px;
	font-size: 13px;
	padding: 3px 9px;
}

.entity-populer:hover {
	color: #50af55;
}

.entity-populer:focus {
	box-shadow: none;
	outline: 0;
}

.geo {
	font-weight: 300;
	font-size: 13px;
}

.geo-news {
	font-weight: 400;
	font-size: 13px;
	color: black;
	display: block;
}

.geo-tgl {
	font-weight: 500;
	font-size: 15px;
	color: black;
	display: block;
}

.card-weather:hover,.card-right:hover {
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
}

.card-right:hover a{
	color: #50af55;
	cursor: pointer;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}

/* Content */
.content p{
	font-size: 15px;
	user-select: none;
}

/*mark { 
   	background-color: #fff;
	color: black;
	display: inline-block;
   	border: 1px solid #50af55;
   	border-radius: 0.25em;
	padding: 3px 6px 3px 6px;
	margin: 2px;
}*/

/*mark:hover { 
   	background-color: #50af5533;
   	color: black;
   	border: 1px solid #50af55;
   	border-radius: 0.25em;
	padding: 3px 6px 3px 6px;
}*/

/*mark:after {
	content: '\2605';
   	background-color: #50af55;
   	padding: 1px 4px;
	color: white;
	border-radius: 0.25em;
   	margin-left: 0.5em;
}*/

.mark {
	background-color: #fff;
	color: black;
	display: inline-block;
   	border: 1px solid #fff;
   	border-radius: 0.25em;
	padding: 3px 6px 3px 6px;
	margin: 2px;
}

.mark:hover {
	background-color: #fff;
   	color: black;
   	border-radius: 0.25em;
	padding: 3px 6px 3px 6px;
}

.tag {
	font-size: 0.6em;
	font-weight: bold;
	line-height: 1;
	border-radius: 0.35em;
	text-transform: uppercase;
	vertical-align: middle;
	margin-left: 0.5rem;
}

.ATTRIBUTE {
	border: 1px solid #2ecc71 !important;
	background-color: #2ecc7159;
}

.ATTRIBUTE:hover {
	background-color: #fff;
}

.ATTRIBUTE .tag{
	color: #2ecc71 !important;
}

.PERSON {
	border: 1px solid #3498db !important;
	background-color: #3498db59;
}

.PERSON:hover {
	background-color: #fff;
}

.PERSON .tag{
	color: #3498db !important;
}


.ORG {
	border: 1px solid #9b59b6 !important;
	background-color: #9b59b659;
}

.ORG:hover {
	background-color: #fff;
}

.ORG .tag{
	color: #9b59b6 !important;
}

.GPE {
	border: 1px solid #95a5a6 !important;
	background-color: #95a5a659;
}

.GPE:hover {
	background-color: #fff;
}

.GPE .tag{
	color: #95a5a6 !important;
}

.MERK {
	border: 1px solid #e67e22 !important;
	background-color: #e67e2259;
}

.MERK:hover {
	background-color: #fff;
}

.MERK .tag{
	color: #e67e22 !important;
}

.CONCEPT {
	border: 1px solid #f1c40f !important;
	background-color: #f1c40f59;
}

.CONCEPT:hover {
	background-color: #fff;
}

.CONCEPT .tag{
	color: #f1c40f !important;
}

.EVENT {
	border: 1px solid #e74c3c !important;
	background-color: #e74c3c59;
}

.EVENT:hover {
	background-color: #fff;
}

.EVENT .tag{
	color: #e74c3c !important;
}

.FACILITY {
	border: 1px solid #16a085 !important;
	background-color: #16a08559;
}

.FACILITY:hover {
	background-color: #fff;
}

.FACILITY .tag{
	color: #16a085 !important;
}

.PRODUCT {
	border: 1px solid #bdc3c7 !important;
	background-color: #bdc3c759;
}

.PRODUCT:hover {
	background-color: #fff;
}

.PRODUCT .tag{
	color: #bdc3c7 !important;
}

.LOC {
	border: 1px solid #8e44ad !important;
	background-color: #8e44ad59;
}

.LOC:hover {
	background-color: #fff;
}

.LOC .tag{
	color: #8e44ad !important;
}

.btn-load-more {
	border-radius: 0.5rem;
    display: block;
    margin: 30px auto 30px;
    color: #fff;
    background-color: #4faf55;
    border-color: #39893e;
}

.btn-load-more:hover {
	color: #28a745;
    background-color: #f7f7f7;
    border-color: #4faf55;
}

.btn-load-more:focus {
	box-shadow: none;
}

.btn-back-result {
	border: none;
	background-color: #fff;
	cursor: pointer;
	margin: 10px 20px 0px 0px;
}

.btn-back-result:hover {
	color: #50af55;
}

.btn-back-result:focus {
	box-shadow: none;
	outline: 0;
}

.card-all-entity:hover {
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
}

.news-lainya{
	display: block;
	color: black;
	font-size: 14px;
}

.news-lainya:hover{
	color: #50af55;
}

.card-news-lainya:hover {
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-o-transition: 0.2s ease-out;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
}

.table-hover tbody tr:hover {
    background-color: #46ae4c59;
}

.col-utama-left{
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    -ms-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}